.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 50px;
}

.basket {
    display: flex;
    align-items: center;
}